<% ////console.log(opt)
    if (Array.isArray(opt.products) && opt.products.length) {
        
        const search = new _.EcomSearch()
        await search.setProductIds(opt.products).fetch(true)
        const items = opt.products[0] && opt.products[0].sku ? opt.products : search.getItems().filter(item => _.ecomUtils.inStock(item))
    
        opt.num_col_sm = opt.num_col_sm ? opt.num_col_sm : 2
        opt.carrossel_sm = opt.carrossel_sm ? opt.carrossel_sm : true
        opt.num_col_md = opt.num_col_md  ? opt.num_col_md  : 4
        opt.carrossel_md = opt.carrossel_md ? opt.carrossel_md : false
        opt.carrossel_dots_md = opt.carrossel_dots_md ? opt.carrossel_dots_md : false
        opt.carrossel_arrows_md = opt.carrossel_arrows_md ? opt.carrossel_arrows_md : false
        opt.carrossel_dots_sm = opt.carrossel_dots_sm ? opt.carrossel_dots_sm : true
        opt.carrossel_arrows_sm = opt.carrossel_arrows_sm ? opt.carrossel_arrows_sm : true
        opt.padding = opt.padding ? opt.padding : 'px-md-3'
        opt.padding_sm = opt.padding_sm ? opt.padding_sm : 'px-2'
        opt.container = opt.container ? opt.container : 'container_90'
        opt.padding_md = opt.padding_md ? opt.padding_md : 'px-md-1'
    %>
    <!-- 
    data-num_col_sm="<%= opt.num_col_sm  %>"
      data-carrossel_sm="<%= opt.carrossel_sm %>"
      data-num_col_md="<%= opt.num_col_md %>"
      data-carrossel_md="<%= opt.carrossel_md %>"
      data-carrossel_dots_md="<%= opt.carrossel_dots_md %>"
      data-carrossel_arrows_md="<%= opt.carrossel_arrows_md %>"
      data-carrossel_dots_sm="<%= opt.carrossel_dots_sm %>"
      data-carrossel_arrows_sm="<%= opt.carrossel_arrows_sm %>"-->
    <section
      class="apx_product-list 
      
      <%= opt?.visibility || '' %>
      mt-md-<%= opt.spacing?.desktop ? opt.spacing.desktop.margin_top : 0 %>
      mt-<%= opt.spacing?.mobile ? opt.spacing.mobile.margin_top : 0%>
      mb-md-<%= opt.spacing?.desktop ? opt.spacing.desktop.margin_bottom : 0%>
      mb-<%= opt.spacing?.mobile ? opt.spacing.mobile.margin_bottom : 0%>
      pt-md-<%= opt.spacing?.desktop ? opt.spacing.desktop.padding_top : 0%>
      pt-<%= opt.spacing?.mobile ? opt.spacing.mobile.padding_top : 0 %>
      pb-md-<%= opt.spacing?.desktop ? opt.spacing.desktop.padding_bottom : 0%>
      pb-<%= opt.spacing?.mobile ? opt.spacing.mobile.padding_bottom : 0 %>
      
      section_type_<%= opt.section_type %>"
      
      style="
      <%= opt.txt_color ? '--txt_color:' +  opt.txt_color + ';' : ''%>
      <%= opt.imagem_margin ? '--imagem_margin:' +  opt.imagem_margin + ';' : ''%>
      <%= opt.title_color ? '--title_color:' +  opt.title_color + ';' : ''%>
      <%= opt.bg_color ? '--bg_color:' +  opt.bg_color + ';' : ''%>
      <%= opt.btn_color ? '--btn_color:' +  opt.btn_color + ';' : ''%>
      <%= opt.btn_bg ? '--btn_bg:' +  opt.btn_bg + ';' : ''%>
      
      "  
      data-wait-mutation="true"
      data-autoplay="<%= opt.autoplay %>"
     
     >
     <div class="<%= opt.container %>  <%= opt.section_img ? 'has_image' : ''%>">
        <div class="section-text-content">
            <div class="apx_section-title text-center <%= opt.title_img ? 'has_title_image' : ''%>">
                <% if (opt.link) { %>
                    <a href="<%= opt.link %>">
                <% } %>
                    <%  if(opt.title_img){ %>            
                        <img src="<%= opt.title_img %>" class="d-md-block mb-md-3 mb-0"/>
                    <% } %>
                    <%  if(opt.title){ %>            
                            <h2 class="text-bold text-uppercase"><%- opt.title %></h2>
                    <% } %>
                <% if (opt.link) { %>
                    </a>
                <% } %>
                <% if(opt.description && !opt.title_img){ %>
                    <small><%- opt.description %></small>
                <% } %>
            </div>
            <%  if(opt.section_img){ %>            
                <img src="<%= opt.section_img %>" class="d-block"/>
            <% } %>
        </div>
        <% if(opt.description && opt.title_img){ %>
        <div class="mb-5 description-full">
            <p><%- opt.description %></p>
        </div>
        <% } %>
                    
                
        <div
            class="glide"
            data-wait-mutation="true"
            data-autoplay=""
            data-per-view="<%= opt.num_col_md %>"
            data-per-view-sm="<%= opt.num_col_sm %>"
            data-per-view-xs="<%= opt.num_col_sm %>"
        >
            <div class="loading">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides products-carousel__list">
                <% for (let i = 0; i < items.length; i++) { %>
                    <li class="glide__slide products-carousel__item">
                    <%- await include('@/sections/inc/product-item', {
                        _, opt: { item: items[i] }
                    }) %>
                    </li>
                <% } %>
                </ul>

                <div
                class="glide__arrows glide__arrows--outer"
                data-glide-el="controls"
                >
                <button
                    class="btn glide__arrow glide__arrow--left"
                    data-glide-dir="<"
                    aria-label="<%= _.dictionary('previous') %>"
                >
                    <img src="/img/vp_chevron_l.svg"/>
                </button>
                <button
                    class="btn glide__arrow glide__arrow--right"
                    data-glide-dir=">"
                    aria-label="<%= _.dictionary('next') %>"
                >
                <img src="/img/vp_chevron_r.svg"/>
                </button>
                </div>
            </div>
        </div>
    </div>
    </section>
  <% } %>
  